body{
    margin:auto;
    background:white;
    font:600 16px/18px 'Open Sans',sans-serif;
}
*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none; font: -webkit-control;
    text-align: center;}

.wrap{
    display: flex;
    justify-content: center;
}

.login-wrap{
    width:100%;
    margin:auto;
    max-width:525px;
    min-height:670px;
    position:relative;
    background-color: #cdd8e7;
    //box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}
.login-html{
    width:100%;
    height:100%;
    position:absolute;
    padding:90px 70px 50px 70px;
    background: white;
}
.login-html .sign-in-htm,
.login-html .sign-up-htm{
    top:0;
    left:0;
    right:0;
    bottom:0;
    position:absolute;
    transform:rotateY(180deg);
    backface-visibility:hidden;
    animation: ease-in-out opacityAfter .2s;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check{
    display:none;
    color: #65758f;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button {
    text-transform:uppercase;
}
.login-html .tab{
    padding: 15px;
    display: inline-block;
    color: #6a7b94;
    text-align: center;
    color: white;
    margin: -10px 15px 39px 20px;
    border-radius: 50px;
    background-color: #404b5a;
    transition: 0.5s ease-out;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
    color:white;
    border-color:#404b5a;
    transition: 0.3s;
    background-color: #6a7b94;
}
.login-form{
    min-height:1000px;
    position:relative;
    perspective:1000px;
    /*transform-style:preserve-3d;*/
}
.login-form .group{
    margin-bottom:15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
    width:100%;
    display:block;
}
.login-form .group .input,
.login-form .group .button{
    border:none;
    padding:15px 20px;
    border-radius:25px;
    background:#d5dae1;
}
.login-form .group input[data-type="password"]{
    text-security:circle;
    -webkit-text-security:circle;
}
.login-form .group .label{
    color: #404b5a;
    font-size: 12px;
    margin: inherit;
}
.login-form .group .button{
    background: #404b5a;
    color: white;
    transition: 0.5s ease-out;
}

.login-form .group .button:hover{
    transition: 1s;
    background: #6f819a;
}

.login-form .group label .icon{
    width:15px;
    height:15px;
    border-radius:2px;
    position:relative;
    display:inline-block;
    background:rgba(255,255,255,.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
    content:'';
    width:10px;
    height:2px;
    background:#fff;
    position:absolute;
    transition:all .2s ease-in-out 0s;


}
.login-form .group label .icon:before{
    left:3px;
    width:5px;
    bottom:6px;
    animation: ease-in-out opacityAfter 5s;
    transform:rotate(0);
}
.login-form .group label .icon:after{
    top:6px;
    right:0;
    animation: ease-in-out opacityAfter 5s;
    transform:rotate(0);
}
.login-form .group .check:checked + label{
    color:#fff;
}
.login-form .group .check:checked + label .icon{
    background:#1161ee;
}

.login-form .group .check:checked + label .icon:before{

}

.login-form .group .check:checked + label .icon:after{

}

.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
    transform: rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
    transform: rotate(0);
}

.hr{
    height: 2px;
    margin: 0px 0 20px 0;
}
.foot-lnk a{
    text-align:center;
    text-align: center;
    display: block;
}

@keyframes opacityBefore {
0% {
    opacity: 1;
}
50% {
    opacity: 0.5;
}
100% {
    opacity: 0;
}
}

@keyframes opacityAfter {
0% {
    opacity: 0;
}
50% {
    opacity: 0.5;
}
100% {
    opacity: 1;
}
}