<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Интерьера</title>
    <link type="text/css" rel="stylesheet" th:href="@{/css/form.css}">
</head>
<body>

<div class="wrap" style="padding-top:10%;">
    <div class="login-wrap">
        <div style="padding-top:50px ;background: white">
            <a th:href="@{/}">
                <img style="width: 380px; display: block; margin: 0 auto;" th:src="@{/images/logo.png}" alt="Interiera" >
            </a>

        </div>
        <div class="login-html">
            <input id="tab-1" type="radio" name="tab" class="sign-in" checked>
            <label for="tab-1" class="tab" style="display: none">Пользователь</label>
            <input id="tab-2" type="radio" name="tab" class="sign-up">
            <label for="tab-2" class="tab" style="display: none">Дизайнер</label>
            <div class="login-form" style="min-height: 0">
                <div class="sign-in-htm">
                    <form th:method="post" th:action="@{/authorization}">
                        <div class="group">
                            <label for="login-user" class="label">Логин</label>
                            <input name="login" id="login-user" type="text" class="input">
                        </div>
                        <div class="group">
                            <label for="user-pass" class="label">Пароль</label>
                            <input name="password" id="user-pass" type="password" class="input" data-type="password">
                        </div>
                        <!--<div class="group">
                            <input id="check-user" type="checkbox" class="check" checked>
                            <label for="check-user"><span class="icon"></span>Запомнить меня</label>
                        </div>-->
                        <div class="group">
                            <input type="submit" class="button" value="Войти">
                        </div>
                        <div class="hr"></div>
                        <div class="foot-lnk">
                            <a href="#forgot">Забыли пароль?</a>
                        </div>
                    </form>
                </div>
                <div class="sign-up-htm">
                    <form th:method="post" th:action="@{/authorization}">
                        <div class="group">
                            <label for="login-designer" class="label">Логин</label>
                            <input name="login" id="login-designer" type="text" class="input">
                        </div>
                        <div class="group">
                            <label for="pass-designer" class="label">Пароль</label>
                            <input name="password" id="pass-designer" type="password" class="input" data-type="password">
                        </div>
                        <!--<div class="group">
                            <input id="check-designer" type="checkbox" class="check" checked>
                            <label for="check-designer"><span class="icon"></span>Запомнить меня</label>
                        </div>-->
                        <div class="group">
                            <input type="submit" class="button" value="Войти">
                        </div>
                        <div class="hr"></div>
                        <div class="foot-lnk">
                            <a href="#forgot">Забыли пароль?</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>